Display Message in Python

In [ ]:
#This is single comment
'''multiline 
comment'''
print("Hello all")

Hello all

Input in Python

In [ ]:
name=input("Enter your name:")
print(name)

Enter your name:Akshata
Akshata

Data Type In Python

1. Number

In [ ]:
n1=234
n2=214
print(n1)
print(n2)
print(n1+n2)
n3=432.90
print(type(n3))

234
214
448
<class 'float'>

2. String

In [ ]:
str="Welcome to python"
print(str)
print(str[1:4])
print(str[-2])
print(str*2)
print(str+' language')
print(str.upper())
print(str.lower())
print(str.replace('to','programming'))

Welcome to python
elc
o
Welcome to pythonWelcome to python
Welcome to python language
WELCOME TO PYTHON
welcome to python
Welcome programming python

3. List

In [ ]:
list1=[10,20,30,40,50]
list2=["Akshata","Pinki","Shravani","Rutuja","Riya"]
list3=[101,"Akshata",102,"Riya",103,"Rutuja"]
print("List elements are:")
i=0
while i<list2.__len__():
  print("At index",i,"element is",list2[i])
  i=i+1

#list operations
#slice
print(list2[0:3])
print(list1[-4:-1])

#append
list1.append(60)
print("after append:",list1)

#insert
list2.insert(2,"aditi")
print("after insert:",list2)

#extend
list2.extend(list3)
print("after extend:",list2)

#update
list3[1]=100
print("updated list:",list3)

#delete
del list1[2]
list2.remove("Akshata")
print("after delete:",list1,"after remove:",list2)

List elements are:
At index 0 element is Akshata
At index 1 element is Pinki
At index 2 element is Shravani
At index 3 element is Rutuja
At index 4 element is Riya
['Akshata', 'Pinki', 'Shravani']
[20, 30, 40]
after append: [10, 20, 30, 40, 50, 60]
after insert: ['Akshata', 'Pinki', 'aditi', 'Shravani', 'Rutuja', 'Riya']
after extend: ['Akshata', 'Pinki', 'aditi', 'Shravani', 'Rutuja', 'Riya', 101, 'Akshata', 102, 'Riya', 103, 'Rutuja']
updated list: [101, 100, 102, 'Riya', 103, 'Rutuja']
after delete: [10, 20, 40, 50, 60] after remove: ['Pinki', 'aditi', 'Shravani', 'Rutuja', 'Riya', 101, 'Akshata', 102, 'Riya', 103, 'Rutuja']

4. Tuples

In [ ]:
tuple1=(10,20,30,40)
tuple2=("ak","pk","ck","dk","mk")
print(tuple1[2])
print(type(tuple2))
print(tuple1[-4:-1])
for element in tuple2:
 print(element)
a=tuple1.__len__()
print("length of tuple1:",a)
tuple3=tuple1+tuple2
print(tuple3)
del tuple3
#we cannot add or delete particular element because tuples are immutable

30
<class 'tuple'>
(10, 20, 30)
ak
pk
ck
dk
mk
length of tuple1: 4
(10, 20, 30, 40, 'ak', 'pk', 'ck', 'dk', 'mk')

5. Set

In [ ]:
set1={10,20,30,40,50}
set2={100,13.24,"hello",(1,2,3,4)}
set3={1,2,3,4,5}
set4={6,4,3,5,7}
print(set2)

#set operations
set1.discard(20)
print("after discard:",set1)

set2.remove("hello")
print("after remove:,set2")

set1.pop()
print("after pop:",set1)

set5=set3|set4
print("after union:",set5)

set6=set3.intersection(set4)
print("after inmtersection:",set6)

set7=set3-set4
print("after set difference:",set7)

set8=set3^set4
print("after symmetric difference:",set8)

{'hello', (1, 2, 3, 4), 100, 13.24}
after discard: {40, 10, 50, 30}
after remove:,set2
after pop: {10, 50, 30}
after union: {1, 2, 3, 4, 5, 6, 7}
after inmtersection: {3, 4, 5}
after set difference: {1, 2}
after symmetric difference: {1, 2, 6, 7}

6. Dictionary

In [ ]:
dict1={1:"ak",2:"pk",3:"dk",5:"sk"}
print(dict1[2])
for i in dict1:
  print("elements in dict1 at key:",i,"value:",dict1[i])

#dictonary operations
print("print all keys:",dict1.keys())
print("print all values:",dict1.values())

dict1[1]="bk"
print("after update:",dict1)

del dict1[5]
print("after delete:",dict1)

dict1.pop(1)
print("after pop:",dict1)

print("get value of key 2:",dict1.get(2))

dict1.clear()
print("after clear:",dict1)

pk
elements in dict1 at key: 1 value: ak
elements in dict1 at key: 2 value: pk
elements in dict1 at key: 3 value: dk
elements in dict1 at key: 5 value: sk
print all keys: dict_keys([1, 2, 3, 5])
print all values: dict_values(['ak', 'pk', 'dk', 'sk'])
after update: {1: 'bk', 2: 'pk', 3: 'dk', 5: 'sk'}
after delete: {1: 'bk', 2: 'pk', 3: 'dk'}
after pop: {2: 'pk', 3: 'dk'}
get value of key 2: pk
after clear: {}